    :root {
        /* this var is for background color*/
        --clr-bg : #1f242d;
        /* this variable is for the title heading */
        --clr-heading:rgb(57, 156, 163) ;
        --clr-blackis : black;
        --clr-whiteish : white ;
        --text-clr : rgb(190, 189, 189) ;
        --color-span-home :rgb(16, 160, 165) ;
        --clr-sidebar :rgb(34, 86, 90);
    }
    /* link remove decoration*/    a{
        text-decoration: none;
        color: black

   

    }
    /* remove marging and padding from all the elements in here */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family:'poppins' ;
         
    }
    p {
        color:var(--text-clr) ;
    }
    body {
        min-height: 100vh;
        background-color:var(--clr-bg);
        width: 1140px;
        max-width: 80%;
    }
    .sidebar { 
        position: fixed;
        width: 60px;
        height: 100vh;
        background-color: var(--clr-sidebar);
        overflow: hidden;
        transition: 0.2s;
        font-weight: 700;
        z-index: 2;
        max-width: 80%;
    }
   
    .sidebar ul{
        list-style: none;
    }
    .sidebar ul .baroptions :hover {
        background-color :rgb(103, 143, 146);
        border-radius: 5px;
    }
    .sidebar ul li a {
        position: relative;
        display: flex;
        white-space: nowrap;
        text-decoration: none;
    } 
    .sidebar ul li a .icon {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 60px;
        height: 60px;
        font-size: 1.5em;
    }
    .sidebar .bartext {
        position: relative;
        height: 60px;
        display: flex;
        align-items: center;
        font-size: 0.8em;
        text-transform: uppercase;
        letter-spacing : 0.03em;
    }
    #logo{
        margin-bottom: 90px;
        
    }
    #logo:hover {
        background-color: hsl(from background-color h s l);
    }
    p{
        text-align: center;
    }
    .title
    {
        position: fixed;
        text-align: center;
        border-bottom:solid;
        border-color: rgb(202, 202, 202);
        border-width:0.01cm;
        background-color: var(--clr-bg);
        color: var(--clr-heading);
        height: 90px;
        width: 100%;
        margin: 0;
        padding: 0;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .title .title-text {
        margin-top: 20px;
        font-size: 190%;
    }
    .sidebar:hover{
        width :200px;
    }
    .active {
        color: white;
        background-color: rgb(103, 143, 146);
        border-radius: 5px;}
    .container {
        padding: 0;
        position: absolute;
        /* background-color: blue; */
        display: flex;
        justify-content: center;
        margin-left: 210px;
        margin-top: 250px;
        max-width: 80%;
    }
    .container p{
        color:whitesmoke;
        width: 75%;
        text-align: left;
        max-width: 80%;
    }
    .container h3 {
       color:  rgb(176, 223, 226);
       font-weight: 600;
       font-size: 1.8em;
       max-width: 80%;
       display: inline-flex;
       margin-bottom: 0;
    }
    .profile{
        position: relative;
        width: 300px;
        max-width: 80%;
        right: 100px;
        top:0px;

        
    }
    .container h1 {
        position: relative;
        left: 0.1cm;
        color:whitesmoke;
        margin-bottom: 0.07cm;
        margin-left: 0.07cm;
        font-weight: 600;
        max-width: 80%;
    }
    .home-heading-span {
        position: relative;
        margin-left: 0.5%;
        color: rgb(16, 160, 165);
        display: inline;
        margin-top: 1px;
    }
    @keyframes slideInFromLeft {
        0% {
            transform: translateX(-5%);
        }
        100% {
            transform: translateX(0)
        }
    }
    .container {
        animation: 1s ease-out 0s 1
        slideInFromLeft;
    }
    .socials {
        position: absolute;
        width: 50%;
        display: flex;
        /* justify-content: center;
        align-items: center; */
        gap: 0.4em;
        background-color: transparent;
        margin-top: 1em;
        font-size: 1.5em;
        margin-right: 17cm;
        margin-left: 1.5em;
        max-width: 80%;
     }
     .socials .social {
        border: solid 0.07cm;
        border-color: var(--color-span-home) ;
        border-radius: 50%;
        color: var(--clr-heading);
        background-color: transparent;
        font-size: 1rem;
        padding: 0.5em;
        display: flex;
        justify-content: center;


    }
    .profile {
        margin-right: 70px;
    }
    .social:hover {
        background-color: var(--color-span-home);
        color: var(--clr-bg);
    }
    .skill-container {
        display: flex;
        justify-content: center;
        position: absolute;
        gap: 20%;
        margin-top: 25vh;
        margin-left: 215px;
        align-items: top;
        /* background-color: blue; */
        width: 60em;
        height: 25em;
        text-align: center;
    }
    .box {
        color: var(--color-span-home);
        background-color: var(--clr-bg);
        border-radius: 15px;
        padding: 2rem;
        min-width: 7cm;
        border: width 1px;
        border: solid;
        border-color: var(--color-span-home);
    }
    @keyframes slideInFromDown {
        0% {transform: translateY(5%);}
        100% {transform: translateY(0);}
    }
    .skill-container {
        animation: 1s ease-out 0s 1
        slideInFromDown;}
        .about-text {
            animation: 2.2s ease-out 0s
1 slideInFromDown;        }
        #programming , #translation ,#photography{
            text-align: left;
            margin-top: 3em;
        }
        .skill-container ul {
            color: whitesmoke;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: left;
            row-gap: 0.5rem;
        }
        .skills-title {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            margin: 0;
            text-align: center;
            z-index: 1;
            margin-top: 110px;
            margin-left: 47%;
            font-weight: 700;
            letter-spacing: 0.5px;
            color: whitesmoke;
            font-size: 1.8rem;
            margin-bottom: 40cm;
        }
        .sidebar{margin-right: 0px;}
        .about-text {
            position: absolute;
          /* background-color: blue; */
          margin: 0;
          padding: 0;
          right: 0;
          top: 40vh;
          bottom: 50vh;
          width: 100vw;
          height: 100vh;
          overflow-y: hidden;
          display: flex;
          justify-content: center;
        }
        .about-me {
            position: absolute;
            display: inline-flex;
            border-bottom: solid;
            border-color: var(--color-span-home);
            color: var(--text-clr);
            font-size: 1.7rem;
margin-bottom: 8cm;
        }
        .about-text p {
            position: relative;
            padding-top: 1em;
            margin-top: 50px;
            width: 40ch;
        }
        @media (max-width: 690px){
            /* home page adjustement */
            *{
                font-size: 1rem;
            }
            .container{
                margin-left: 100px;
                margin-top: 180px;
                display: flex;
                flex-wrap: wrap;
                align-self: center;
                align-items: center;
            }
            .container p {
                font-size: 0.7rem;
                width: 50ch;
            }
            .container h1{
                font-size: 1rem;
            }
            .home-heading-span {
                font-size: 1.2rem;
            }
            .container h3 {
                font-size: 1.3rem;
            }
            .profile {
                position: relative;
                display: flex;
                width: 170px;
                height: 170px;
                margin-top: 100px;
                display: flex;
                justify-content: center;
                align-self: center;

            }.socials {
            margin-left:0;    
        }
            .social {
                width: 1px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 100rem;
            }
            .icon {
                position : relative ;
                display: flex;
                align-self: center;
            overflow: hidden;
            min-width: 800px;
            width: 1px;
            align-self: center;
            }
            /* about page adjustement */
            .about-text  {
                margin-left: 0;
                margin-top: 150px;
                width: 100%;
                margin-top: 50%;
            }
            .about-me {
                font-size: 1rem;
                display: flex;
                justify-content: center;
                align-content: center;

                
            }
            .about-text p {
                font-size: 0.9rem;
                width: 590ch;
                margin-left: 25%;
                margin-right: 25%;
                margin-top: 30px;

            }
            .skill-container {
                flex-wrap: wrap;
                width: 40vw;
                margin-left: 200px;

            }
            .skills-title {
                margin-top: 20%;
background-color: blue;
width: 100%;
margin-left: 500%;
margin-right: 0;
justify-content: center;
align-items: center;
            }
        }
.gallery{
    position: absolute;
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-self: center;
    padding-bottom: 2cm;
}
.pictures {
    top: 170px;
    /* left: 30%; */

    width: fit-content;
    height: 50vh;
    position: relative;
    gap: 10cm;
    margin-bottom: 4cm;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    border-radius: 20px;
    
}
.pic6{
    width: 20cm;
}
@media (){

}

















        @media (max-width:800px){
            .container {
                margin-left: 130px;
                margin-top:300px;
            }
        }

            @media (max-width: 1344px){
.about-text {
    margin-left: 290px;
}
            }
            @media (max-width:792px){
                .about-text {
                    margin-left: 160px;
                }
            }
            @media (max-width:690px){
                .sidebar {
                    height: 100%;
                }
                .container {
                    position: absolute;
                    width: 100vw;
                    display: flex;
                    flex-wrap: wrap;
                    height: fit-content;
                 margin: 0;
                 top: 20vh;
                 left: 20vw;
                }
                .container h1 , h2 ,h3 ,p {
                    position: relative;
                    display: flex;
                }

            }
            @media (min-width:1500px){
            .skill-container{
                margin-left: 300px;
            }
            }
            @media (max-width:918px){
                
                .socials {
                left: -30px;                    
                }                
                .container h1 ,h2, h3 {
                    font-size: 1.5rem;
                    left: 0;
                }
                .container p {
                    font-size: 1rem;
                }
                .profile {
                    left: 10px;
                }
                .skill-container {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    align-self: center;
                    margin: 0;
                    padding: 0;
                    top: 20%;
                    left:40vw;
                width: 30ch;  
            height: fit-content; 
        gap: 2cm;             }
        .skills-title{
            left:1vw;
        }
        .about-text {
            top:20vh;
            justify-content: center;
            align-items: center;
            align-self: center;
            align-content: center;
        }
        .about-me {
            position: absolute;
            display: flex;
            justify-content: center;
            left: 42vw;
            top: 15vh;
            margin-bottom: 0;
                }
                .about-text p  {
                    position: absolute;
                    margin: 0;
                    top: 22vh;
                    display: flex;
                    width: 40ch;
                    align-items: center;}

            }
            @media (max-width:542px){
                .socials {
                    left: -30px;                    
                    }                
                    .container h1 ,h2, h3 {
                        font-size: 1.5rem;
                        left: 0;
                    }
                    .container p {
                        font-size: 1rem;
                    }
                    .profile {
                        left: 10px;

                    }
                    .container{
                        display: felx;
                        justify-content: center;
                        align-items: cnter;
                        align-content: center;
                        align-self: center;
                        margin-left: 10em;
                        flex-wrap: wrap;
                    }
                    .about-text {
                        top: 40vh;
                        margin-top: 0;
                    }
            }
            @media (max-width:690px){
                .skill-titre {
                    margin-left: 0;
                    margin-right: 0;
                    display: flex;
                    justify-content: center;
                    width: 100vw;
                    align-items: center;
                    align-content: center;
                }
                .skill-container {
                    position: absolute;
                    display: flex;
                    /* background-color: blue; */
                    width: 100vw;
                    margin-left: 0;
                    left: 0;
                    justify-content: center;

                }
                .box{
                    width: 40ch;
                }
            }
